/* --- Cabeçalho e Navegação --- */
.header-estiloso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: var(--borda-fina);
    background-color: var(--fundo-principal);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo span {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--cor-destaque); /* Logo em Coral */
    text-transform: uppercase;
}

nav a {
    color: var(--texto-principal);
    text-decoration: none;
    margin-left: 30px;
    font-size: 0.95em;
    padding: 5px 0;
    opacity: 0.7; /* Texto da navegação mais sutil */
    transition: color 0.3s, opacity 0.3s;
}

nav a:hover {
    color: var(--cor-destaque);
    opacity: 1;
}
